.videoSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-bottom: 24px;
}

.ic_file_input_container {
  border: 2px dashed #d1d5db;
  border-radius: 8px;
}

.uploadArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 24px;
  background-color: #f3f4f6;
  margin: 10px;
  text-align: center;
  position: relative;
  min-height: 200px; /* যাতে height fix থাকে */
}

.fileInput {
  display: none;
}

.uploadIcon {
  width: 48px;
  height: 48px;
  color: var(--primary-color);
  margin-bottom: 16px;
}

.uploadText {
  font-size: 14px;
  color: #374151;
  margin: 0 0 4px 0;
}

.uploadSubtext {
  font-size: 12px;
  color: #6b7280;
  margin: 0;
}

.sectionTitle {
  font-weight: 500;
  margin-bottom: 24px;
}

/* form input design  */

.formRow {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.3;
}

.input {
  width: 100%;
  height: 46px;
  padding: 0 16px;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  background: #f3f4f6;
  transition: border-color 0.2s, background-color 0.2s;
}

.input:focus {
  outline: none;
  border-color: var(--primary-color);
  background: var(--white);
}

.ic_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-bottom: 16px;
}

.ic_text_label {
  padding-bottom: 16px;
}

@media (max-width: 1399px) {
  .sectionTitle {
    margin-bottom: 20px;
  }

  .label {
    font-size: 16px;
  }

  .input {
    height: 40px;
    font-size: 15px;
    padding: 0 12px;
  }

  .videoSection {
    margin-bottom: 20px;
  }
}

@media (max-width: 575px) {
  .videoSection {
    grid-template-columns: 1fr;
    margin-bottom: 16px;
  }
  .sectionTitle {
    margin-bottom: 16px;
  }

  .ic_grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
