.ic_team_card {
  background-color: transparent;
  border-radius: 16px;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.ic_team_card:hover {
  transform: translateY(-8px);
}

.ic_team_card:hover .ic_btn {
  background: var(--primary-color);
}

.ic_image_container {
  width: 100%;
  border-radius: 16px;
  margin-bottom: 24px;
  backdrop-filter: blur(62.7px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ic_card_content {
  color: var(--white);
}

.ic_member_name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
  line-height: 1.4;
}

.ic_member_description {
  font-weight: 300;
  margin-bottom: 20px;
}

.ic_btn {
  background: #272727;
  color: var(--white);
  border: none;
  padding: 13px 27px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.3s ease;
  align-self: flex-start;
}

.ic_btn:hover {
  background: var(--primary-color);
  transform: translateY(-2px);
  box-shadow: 0 8px 25px rgba(74, 144, 226, 0.3);
}

.ic_member_image {
  width: 100%;
  height: auto;
  object-fit: contain;
  filter: grayscale(1);
  transition: 1s all ease-in-out;
  border-radius: 16px;
}

.ic_member_image:hover {
  filter: grayscale(0.7);
}

@media (max-width: 1399px) {
  .ic_btn {
    padding: 10px 22px;
    font-size: 14px;
    border-radius: 11px;
  }
}

@media (max-width: 991px) {
  .ic_member_name {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .ic_member_description {
    margin-bottom: 18px;
  }

  .ic_social_links {
    gap: 10px;
  }

  .ic_btn {
    padding: 8px 20px;
    font-size: 12px;
  }
}

@media (max-width: 575px) {
  .ic_team_card {
    max-width: 100%;
  }

  .ic_member_name {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .ic_member_description {
    margin-bottom: 18px;
  }

  .ic_btn {
    padding: 7px 19px;
    font-size: 11px;
  }
}
