.ic_hero_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 70px;
}

.leftContent {
  color: white;
  z-index: 2;
}

.heroDescription {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.18px;
  font-weight: 400;
  margin: 30px 0 0 0;
}

.ic_hero_img {
  width: 100%;
  padding-top: 85px;
  position: relative;
}

.ic_hero_img img {
  object-fit: fill;
}

.progressWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.progressBar {
  position: absolute;
  top: 6%;
  left: 25%;
  width: 150px;
  height: 150px;
  z-index: 3;
}

.progressText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #8b8cfd;
  color: white;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  align-content: center;
  height: 50px;
  width: 50px;
  pointer-events: none;
  user-select: none;
  white-space: nowrap;
}

/* Responsive Design */

@media (max-width: 1399px) {
  .ic_hero_img {
    padding-top: 80px;
  }

  .ic_hero_img img {
    width: 560px;
    height: auto;
  }

  .ic_hero_container {
    gap: 60px;
  }

  .heroDescription {
    margin: 25px 0 0 0;
  }

  .progressBar {
    top: 6%;
    left: 20%;
    width: 100px;
    height: 100px;
  }

  .progressText {
    font-size: 10px;
    height: 35px;
    width: 35px;
  }
}

@media (max-width: 1199px) {
  .ic_hero_img {
    padding-top: 75px;
  }

  .ic_hero_img img {
    width: 500px;
    height: auto;
  }

  .ic_hero_container {
    gap: 50px;
  }

  .heroDescription {
    margin: 22px 0 0 0;
  }
}

@media (max-width: 1040px) {
  .heroDescription {
    margin: 20px 0 0 0;
  }

  .ic_hero_container {
    grid-template-columns: 1fr;
    gap: 0px;
    text-align: center;
    padding: 60px 60px 0px 60px;
  }

  .ic_hero_img {
    padding-top: 20px;
  }

  .ic_hero_img img {
    width: 450px;
    height: auto;
  }

  .progressBar {
    top: 4%;
    left: 38%;
    width: 60px;
    height: 60px;
  }

  .progressText {
    font-size: 5px;
    height: 20px;
    width: 20px;
  }
}

@media (max-width: 991px) {
  .progressBar {
    top: 0%;
    left: 35%;
    width: 60px;
    height: 60px;
  }

  .heroDescription {
    margin: 18px 0 0 0;
    font-weight: 300;
  }

  .ic_hero_img img {
    width: 400px;
    height: auto;
  }

  .ic_hero_container {
    padding: 50px 50px 0px 50px;
  }
}

@media (max-width: 767px) {
  .progressBar {
    top: 0%;
    left: 32%;
  }
}

@media (max-width: 575px) {
  .progressBar {
    width: 40px;
    height: 40px;
    top: 0%;
    left: 28%;
  }

  .ic_hero_img img {
    width: 350px;
    height: auto;
  }

  .heroDescription {
    margin: 16px 0 0 0;
  }

  .ic_hero_container {
    padding: 50px 10px 0px 10px;
  }
}

@media (max-width: 480px) {
  .progressBar {
    display: none;
  }

  .ic_hero_img img {
    width: 300px;
    height: auto;
  }

  .ic_hero_container {
    padding: 50px 0px 0px 0px;
  }
}
