.ic_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px;
  gap: 10px;
}

.ic_img_wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.teammateContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ctaButton {
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.3px);
  padding: 12px 30px;
  font-size: 15px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease-in;
  text-transform: uppercase;
}

.ctaButton:hover {
  background-color: var(--primary-color);
  color: white;
}

.teammateImage1 {
  height: auto;
}

.teammateImg2 {
  position: absolute;
  left: 45%;
  bottom: 20%;
}

.badge {
  position: absolute;
  top: 15%;
  right: 16%;
  z-index: 3;
  animation: floatBadge 2.5s ease-in-out infinite;
}

@keyframes floatBadge {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.title {
  font-size: 36px;
}

.ic_data_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1399px) {
  .teammateImg2 {
    width: 250px;
    height: 80px;
  }
}

@media (max-width: 1299px) {
  .badge {
    right: 15%;
  }

  .teammateImg2 {
    position: absolute;
    bottom: 20%;
  }

  .teammateImage1 {
    width: 440px;
    height: auto;
  }

  .title {
    font-size: 32px;
  }

  .ic_data_container {
    gap: 16px;
  }
}

@media (max-width: 1199px) {
  .ctaButton {
    padding: 10px 20px;
    font-size: 14px;
  }

  .teammateContent {
    gap: 10px;
  }

  .badge img {
    width: 60px;
    height: 60px;
  }

  .teammateImage1 {
    width: 420px;
    height: auto;
  }

  .badge {
    top: 20%;
    right: 22%;
  }

  .teammateImage1 {
    width: 380px;
    height: auto;
  }

  .teammateImg2 {
    width: 200px;
    height: auto;
    bottom: 25%;
  }

  .title {
    font-size: 30px;
  }

  .ic_data_container {
    gap: 14px;
  }
}

@media (max-width: 1040px) {
  .teammateImage1 {
    width: 350px;
    height: auto;
  }

  .teammateImg2 {
    width: 180px;
    height: auto;
    left: 45%;
    bottom: 30%;
  }

  .ctaButton {
    padding: 8px 18px;
    font-size: 12px;
  }

  .teammateContent {
    gap: 4px;
  }
}

@media (max-width: 991px) {
  .ic_grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 20px;
  }

  .teammateImg2 {
    left: 30%;
  }

  .badge {
    right: 56%;
  }

  .title {
    font-size: 28px;
  }

  .ic_data_container {
    gap: 12px;
  }
}

@media (max-width: 767px) {
  .badge {
    right: 40%;
  }
}

@media (max-width: 575px) {
  .teammateImage1 {
    width: 300px;
  }

  .teammateImg2 {
    left: 50%;
  }

  .badge {
    right: 23%;
  }

  .title {
    font-size: 26px;
  }
}

@media (max-width: 480px) {
  .teammateImage1 {
    width: 250px;
  }

  .teammateImg2 {
    left: 40%;
    width: 140px;
  }
}
