.ic_accordionSection {
  background: #fff;
  border-radius: 60px 60px 0px 0px;
  padding: 50px 0;
  color: #000;
}
.ic_ans {
  color: #f69745;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1px;
}

.ic_accordionItem {
  border-bottom: 1px solid #000;
  cursor: pointer;
  padding: 24px 0;
}
.ic_questionRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ic_questionRow h5 {
  font-style: normal;
  font-weight: 700;
  line-height: 126.617%;
  text-transform: uppercase;
}
.ic_searchWrapper {
  position: relative;
  width: 100%;
}

.ic_icon {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.ic_answer {
  padding-top: 10px;
}

.ic_answer p {
  margin: 0;
  font-size: 16px;
  color: #000;
}

@media (max-width: 1199.98px) {
  .ic_accordionItem {
    padding: 22px 0;
  }
}
@media (max-width: 991.98px) {
  .ic_accordionItem {
    padding: 20px 0;
  }
}
@media (max-width: 767.98px) {
  .ic_accordionItem {
    padding: 18px 0;
  }
}
@media (max-width: 575.98px) {
  .ic_accordionItem {
    padding: 16px 0;
  }
}
@media (max-width: 375.98px) {
  .ic_accordionItem {
    padding: 14px 0;
  }
}
