.infoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.infoTitle {
  font-size: 18px;
  margin: 0;
}

.infoGrid {
  display: grid;
  grid-template-columns: 1fr;
}

.infoRow {
  display: grid;
  grid-template-columns: minmax(100px, 200px) 1fr;
  border-bottom: 1px solid #e0e0e0;
  align-items: flex-start;
}

.infoRow:last-child {
  border-bottom: none;
}

.infoLabel {
  font-weight: 500;
  font-size: 18px;
  align-content: center;
  height: 100%;
}

.infoValue {
  width: 100%;
  background-color: var(--white);
  border: none;
  border-radius: 12px;
  padding: 14px 20px;
  font-size: 16px;
  color: #353535;
  outline: none;
  cursor: not-allowed;
}

.textArea {
  resize: none;
  font-family: inherit;
  font-size: 16px;
  color: #353535;
}

.infoValue:disabled {
  background-color: var(--white);
  color: #353535;
  opacity: 1;
}

.editModeInput {
  background-color: #d9d9d9 !important;
  cursor: text;
}

.editModeRow {
  border-bottom: none !important;
}

.editModeGrid {
  gap: 14px;
}

@media (max-width: 1299px) {
  .infoValue {
    padding: 10px 16px;
    border-radius: 10px;
  }

  .infoRow {
    grid-template-columns: minmax(100px, 180px) 1fr;
  }

  .editModeGrid {
    gap: 10px;
  }
}

@media (max-width: 991px) {
  .infoLabel {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .infoLabel {
    font-size: 16px;
  }

  .infoRow {
    grid-template-columns: minmax(100px, 140px) 1fr;
  }

  .infoValue {
    font-size: 14px;
    padding: 6px 14px;
    border-radius: 8px;
  }

  .textArea {
    font-size: 14px;
  }

  .editModeGrid {
    gap: 8px;
  }
}
