.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  /* border-bottom: 1px solid #e5e7eb; */
  position: sticky;
  top: 0;
  z-index: 100;
  margin: 0 20px;
  padding-bottom: 20px;
  background-color: var(--white);
}

.searchContainer {
  position: relative;
  flex: 1;
  /* max-width: 24rem; */
  margin-right: 20px;
}

.searchIcon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  height: 18px;
  width: 18px;
  color: #9795b5;
}

.searchInput {
  width: 100%;
  padding-left: 50px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 12px;
  background-color: rgba(107, 107, 107, 0.1);
  /* background-color: #e5e7eb; */
  border: none;
  font-size: 16px;
  color: #9795b5;
}

.searchInput::placeholder {
  color: #9795b5;
}

.searchInput:focus {
  outline: none;
  box-shadow: 0 0 0 2px #9795b5;
}

.actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: none;
  background-color: rgba(107, 107, 107, 0.1);
  /* background-color: #e5e7eb; */
  cursor: pointer;
  transition: 0.4s all ease-in-out;
}

.iconButton:hover {
  background-color: var(--primary-color);
  /* color: var(--white); */
}

.iconButton:hover .actionIcon {
  color: var(--white);
}

.actionIcon {
  width: 24px;
  height: 24px;
  color: #9795b5;
  font-weight: bolder;
}

.avatar {
  width: 48px;
  height: 48px;
  background-color: #e5e7eb;
  border-radius: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mobileMenuButton {
  display: none;
}

.searchContainer {
  position: relative;
  flex: 1;
  margin-right: 20px;
}

.mobileSearchIcon {
  display: none;
  cursor: pointer;
}

/* Mobile dropdown search container */
.mobileSearchContainer {
  display: none;
}

.mobileSearchWrapper {
  position: relative;
  margin: 15px 20px 12px 20px;
}

/* notification dropdown design  */
.notificationWrapper {
  position: relative;
}

.notificationDropdown {
  position: absolute;
  top: 48px;
  right: -60px;
  background: #fff;
  width: 500px;
  /* width: 260px; */
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 16px;
  z-index: 999;
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeIn 0.3s forwards;
  max-height: 400px; /* or whatever fits your UI */
  overflow-y: auto;  /* must be scrollable */
}
.unread {
  background-color: #e6f7ff;
  font-weight: 600;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.notificationTitle {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 600;
  color: #222;
  /* margin-bottom: 8px; */
}

.notification_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.ic_btn {
  padding: 4px 12px;
  font-size: 14px;
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  text-transform: uppercase;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
}

.notificationList {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 180px;
  overflow-y: auto;
  /* display: flex;
  flex-direction: column;
  gap: 0px; */
}

.notificationList li {
  font-size: 13.5px;
  color: #444;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.notificationList li:last-child {
  border-bottom: none;
}

.viewAll {
  text-align: center;
  padding-top: 8px;
}

.viewAll a {
  font-size: 13px;
  color: #0070f3;
  text-decoration: none;
}

.viewAll a:hover {
  text-decoration: underline;
}

.ic_img {
  width: 100px;
  height: 70px;
  object-fit: cover;
}

.notificationItem {
  display: flex;
  gap: 12px;
  cursor: pointer;
}

.ic_time {
  display: flex;
  align-items: end;
}

@media (max-width: 1199px) {
  .searchInput {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 991px) {
  .mobileMenuButton {
    display: inline-flex;
    margin-right: 8px;
  }

  .actions {
    gap: 6px;
  }

  .iconButton {
    width: 40px;
    height: 40px;
  }

  .avatar {
    width: 40px;
    height: 40px;
  }

  .actionIcon {
    width: 22px;
    height: 22px;
  }

  /* Hide inline search on mobile, show search icon near favorites */

  /* .notificationDropdown {
    width: 260px;
  } */
}

@media (max-width: 575px) {
  .notificationDropdown {
    width: 450px;
  }

  .ic_img {
    width: 80px;
    height: 50px;
    object-fit: cover;
  }
}

@media (max-width: 480px) {
  .notificationDropdown {
    width: 370px;
  }

  .iconButton {
    width: 38px;
    height: 38px;
  }

  .avatar {
    width: 38px;
    height: 38px;
  }

  .actionIcon {
    width: 20px;
    height: 20px;
  }

  .header {
    margin: 0 10px;
    padding-bottom: 18px;
  }

  .searchInput {
    padding-left: 26px;
    padding-right: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 10px;
  }

  .searchContainer {
    margin-right: 6px;
  }

  .searchIcon {
    left: 6px;
    top: 50%;
    height: 14px;
    width: 14px;
  }

  .mobileSearchWrapper {
    margin: 10px 10px 12px 10px;
  }

  .searchContainer {
    display: none;
  }

  .mobileSearchIcon {
    display: inline-flex;
  }

  .mobileSearchContainer {
    display: block;
  }
}
