.ic_apply_for_job {
  color: #fff;
}
.ic_apply_for_job h6 {
  color: #fff;
}
.ic_step {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}
.ic_step::after {
  content: "";
  position: absolute;
  top: 35%;
  left: 50%;
  width: 80%;
  height: 4px;
  background: #fff;
  z-index: -1;
  transform: translateX(-50%);
}
.ic_step_item_circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 5px solid #fff;
  background: #fff;
  text-align: center;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  margin: 0 auto;
}
.ic_step_item_circle.active {
  background: linear-gradient(180deg, #ff7600 0%, #f69745 100%);
}
.ic_step_item_circle h6 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
.ic_step_item p {
  color: #fff;
  margin-top: 20px;
  opacity: 0.7;
}
.ic_step_item p.active {
  opacity: 1;
}
.ic_apply_for_job_left {
  color: #fff;
}
.ic_apply_for_job_left input {
  width: 100%;
  border-radius: 12px;
  background: transparent;
  height: 47px;
  outline: none;
  border: none;
  padding: 0px 23px;
  color: #fff;
  border: 1px solid #fff;
}
.ic_apply_for_job_left input::placeholder {
  color: #fff;
}
.ic_apply_for_job_name {
  display: flex;
  gap: 18px;
}
.ic_apply_for_job_name div {
  width: 50%;
}

.ic_apply_for_job_left button {
  border-radius: 12px;
  height: 48px;
  outline: none;
  border: none;
  padding: 0px 23px;
  background: #5c81f7;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
}
.ic_apply_for_job_left button:hover {
  box-shadow: 0px 2px 20px #5c81f7;
}
.error {
  padding: 5px 0 0 20px;
  color: red;
}

@media (max-width: 991.98px) {
  .ic_step_item_circle {
    width: 75px;
    height: 75px;
  }
}
@media (max-width: 767.98px) {
  .ic_step_item_circle {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 575.98px) {
  .ic_step_item_circle {
    width: 65px;
    height: 65px;
  }
  .ic_step_item p {
    margin-top: 15px;
  }
}
@media (max-width: 425.98px) {
  .ic_step_item_circle {
    width: 60px;
    height: 60px;
  }
  .ic_step_item p {
    margin-top: 10px;
    font-size: 11px;
  }
}
