.teammateContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 16px;
}

.teammateImage {
  text-align: center;
}

.teammateImg {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
}

.teammateContent {
  padding: 20px 20px 0 0px;
  width: 70%;
}

.subtitle {
  color: #ff7a00;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.title {
  margin: 16px 0px 26px 0px;
  width: 87%;
}

.ctaButton {
  margin-top: 80px;
  background-color: #5c81f7;
  color: white;
  padding: 12px 30px;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  text-transform: uppercase;
}

.ctaButton:hover {
  background-color: var(--primary-color);
  box-shadow: 0px 2px 20px #5c81f7;
}

@media (max-width: 1399px) {
  .title {
    margin: 12px 0px 20px 0px;
  }

  .ctaButton {
    margin-top: 70px;
  }

  .teammateContent {
    width: 80%;
  }
}

@media (max-width: 1199px) {
  .title {
    margin: 8px 0px 16px 0px;
    width: 85%;
  }

  .ctaButton {
    margin-top: 40px;
  }

  .teammateContent {
    width: 88%;
  }

  .teammateContainer {
    gap: 30px;
  }
}

@media (max-width: 991px) {
  .teammateContainer {
    gap: 25px;
  }

  .teammateContent {
    width: 100%;
  }

  .title {
    margin: 6px 0px 14px 0px;
  }

  .ctaButton {
    margin-top: 30px;
    padding: 10px 26px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .title {
    margin: 2px 0px 10px 0px;
    width: 100%;
  }

  .ctaButton {
    margin-top: 30px;
    padding: 10px 26px;
    font-size: 14px;
  }

  .teammateContainer {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 0px;
  }

  .teammateContent {
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .title {
    margin: 0px 0px 6px 0px;
    width: 100%;
  }

  .ctaButton {
    margin-top: 20px;
    padding: 9px 22px;
    font-size: 12px;
  }

  .teammateContainer {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 0px;
  }

  .teammateContent {
    margin-top: 5px;
  }
}
