.headerContainer {
  display: flex;
  flex-direction: column;
}

.titleSection {
  display: flex;
  align-items: center;
  gap: 16px;
}

.backButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--white);
  text-decoration: none;
  transition: background-color 0.2s;
}

.pageTitle {
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  font-weight: bold;
  color: #333333;
  margin: 0;
}

.tabs {
  margin: 20px 0 34px 0;
  display: flex;
  border-bottom: 2px solid #e2e2e2;
}

.tabItem {
  padding: 12px 24px;
  color: #353535;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color 0.2s;
}

.tabItem:hover {
  color: #333333;
}

.tabItem.active {
  color: #333333;
}

.tabItem.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #1e3a8a;
}

@media (max-width: 1399px) {
  .pageTitle {
    font-size: 32px;
    line-height: 46px;
  }

  .titleSection {
    gap: 14px;
  }

  .backButton {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 1299px) {
  .pageTitle {
    font-size: 30px;
    line-height: 42px;
  }

  .backButton {
    width: 28px;
    height: 28px;
  }
}

@media (max-width: 1199px) {
  .pageTitle {
    font-size: 28px;
    line-height: 28px;
  }

  .titleSection {
    gap: 10px;
  }
}

@media (max-width: 767px) {
  .pageTitle {
    font-size: 26px;
    line-height: 26px;
  }

  .backButton {
    width: 26px;
    height: 26px;
  }

  .tabs {
    margin: 16px 0 24px 0;
  }

  .tabItem {
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .pageTitle {
    font-size: 24px;
    line-height: 25px;
  }

  .backButton {
    width: 25px;
    height: 25px;
  }

  .tabs {
    margin: 14px 0 20px 0;
  }

  .tabItem {
    padding: 8px 8px;
  }
}
