/* .ic_courses_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  color: #353535;
} */

.ic_search_container {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 30px;
  color: #353535;
}

.ic_search_wrapper {
  width: 100%;
}

.ic_search_input {
  width: 100%;
  padding: 11px 18px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  background-color: rgba(107, 107, 107, 0.1);
  color: #6b7280;
}

.ic_search_input:focus {
  outline: none;
  border-color: var(--primary-color);
  background-color: white;
}

.ic_search_input::placeholder {
  color: #9ca3af;
}

.ic_scroll_top_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border: 1px solid var(--black);
  border-radius: 100%;
  background-color: rgba(107, 107, 107, 0.1);
  cursor: pointer;
  transition: all 0.2s;
  font-size: 14px;
}

.ic_scroll_top_button:hover {
  background-color: #f9fafb;
  border-color: #d1d5db;
}

.ic_scroll_top_icon {
}

.ic_sidebar {
  width: 206px;
  flex-shrink: 0;
  height: fit-content;
  border: 1px solid #e2e2e2;
  padding: 12px;
  border-radius: 16px;
}

.ic_filter_section {
  margin-bottom: 2rem;
}

.ic_filter_section:last-child {
  margin-bottom: 0;
}

.ic_filter_title {
  font-weight: 500;
}

.ic_hr {
  border: 1px solid #e2e2e2;
  margin: 12px 0;
}

.ic_filter_options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ic_checkbox_label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ic_checkbox {
  width: 16px;
  height: 16px;
  margin-right: 12px;
}

.ic_checkbox_text {
  user-select: none;
}

.ic_courses_list {
  height: 700px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.ic_course_card {
  border: 1px solid #e2e2e2;
  border-radius: 16px;
  padding: 20px;
  transition: box-shadow 0.2s;
}

.ic_img_text_wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  /* border: 1px solid black; */
  position: relative;
}

.ic_course_card:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ic_course_thumbnail {
  flex-shrink: 0;
}

.ic_thumbnail_image {
  width: 160px;
  height: 100px;
  object-fit: cover;
  border-radius: 12px;
}

.ic_course_title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  line-height: 1.4;
}

.ic_course_description {
  margin: 10px 0 20px 0;
  color: #353535;
}

.ic_course_metadata {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 8px 0;
}

.ic_metadata_text {
  font-size: 15px;
}

.ic_metadata_item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.ic_metadata_icon {
  font-size: 18px;
  color: #6b7280;
}

.ic_course_rating {
  display: flex;
  align-items: center;
  gap: 16px;
}

.ic_stars {
  display: flex;
  gap: 3px;
}

.ic_star {
  width: 14px;
  height: 14px;
}

.ic_star_filled {
  color: #f59e0b;
}

.ic_star_empty {
  color: #e5e7eb;
}

.ic_student_count {
  font-size: 15px;
}

.ic_course_action {
  text-align: end;
}

.ic_course_info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* border: 1px solid black; */
}

.ic_progress_bar {
  width: 100%;
  height: 4px;
  background-color: #4b4b4d;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 8px;
}

.ic_progress_fill {
  height: 100%;
  background-color: var(--primary-color); /* Blue fill */
  transition: width 0.4s ease-in-out;
}

/* .ic_progress_text {
  font-size: 14px;
  font-weight: 500;
  color: #353535;
} */

.ic_course_action2 {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: end;
  /* position: absolute;
  bottom: 0;
  right: 0; */
  /* padding-top: 24px; */
}

.ic_start_button {
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  padding: 7px 12px;
  background: #5c81f7;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  white-space: nowrap;
}

.ic_start_button:hover {
  box-shadow: 0px 3px 33.7px rgba(92, 129, 247, 0.5);
}

/* Responsive Design */
@media (max-width: 1299px) {
  .ic_course_description {
    margin: 8px 0 15px 0;
  }

  .ic_start_button {
    font-size: 14px;
    padding: 6px 12px;
  }

  .ic_metadata_item {
    gap: 12px;
  }

  .ic_course_metadata {
    gap: 1px;
    margin: 7px 0;
  }

  .ic_img_text_wrapper {
    gap: 20px;
  }

  .ic_thumbnail_image {
    width: 140px;
    height: 90px;
    object-fit: cover;
    border-radius: 12px;
  }

  .ic_courses_list {
    gap: 20px;
  }

  .ic_search_container {
    gap: 18px;
    margin-bottom: 28px;
  }

  .ic_search_input {
    padding: 10px 16px;
    border-radius: 10px;
  }

  .ic_scroll_top_button {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 1199px) {
  .ic_course_description {
    margin: 6px 0 12px 0;
  }

  .ic_course_card {
    padding: 15px;
  }

  .ic_thumbnail_image {
    width: 120px;
    height: 80px;
    border-radius: 8px;
  }

  .ic_course_description {
    font-size: 15px;
    line-height: 22px;
  }

  .ic_img_text_wrapper {
    gap: 15px;
  }

  .ic_metadata_item {
    gap: 10px;
  }

  .ic_course_metadata {
    margin: 6px 0;
  }

  .ic_metadata_text {
    font-size: 14px;
  }

  .ic_metadata_icon {
    font-size: 16px;
  }

  .ic_course_rating {
    gap: 12px;
  }

  .ic_student_count {
    font-size: 14px;
  }

  .ic_course_title {
    font-size: 18px;
  }

  .ic_filter_options {
    gap: 8px;
  }

  .ic_start_button {
    font-size: 13px;
    padding: 5px 12px;
  }
}

@media (max-width: 991px) {
  .ic_filter_options {
    gap: 6px;
  }

  .ic_sidebar {
    width: 100%;
  }

  .ic_courses_list {
    height: 100%;
    gap: 16px;
  }

  /* .ic_course_action {
    align-self: flex-start;
  } */
}

@media (max-width: 480px) {
  .ic_search_container {
    gap: 16px;
    margin-bottom: 24px;
  }

  .ic_search_input {
    padding: 7px 14px;
    border-radius: 8px;
    font-size: 14px;
  }

  .ic_scroll_top_button {
    width: 35px;
    height: 35px;
    font-size: 13px;
  }

  .ic_course_card {
    padding: 1rem;
  }

  .ic_img_text_wrapper {
    flex-direction: column;
    gap: 16px;
  }

  .ic_thumbnail_image {
    width: 130px;
  }

  .ic_start_button {
    font-size: 12px;
    padding: 4px 12px;
  }
}
