/* .roadmapSection {
  background-color: #0a0a0a;
  padding: 80px 0;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
} */

/* .networkBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(
      circle at 20% 20%,
      rgba(156, 163, 175, 0.3) 1px,
      transparent 1px
    ),
    radial-gradient(
      circle at 80% 20%,
      rgba(156, 163, 175, 0.3) 1px,
      transparent 1px
    ),
    radial-gradient(
      circle at 40% 40%,
      rgba(156, 163, 175, 0.3) 1px,
      transparent 1px
    ),
    radial-gradient(
      circle at 60% 60%,
      rgba(156, 163, 175, 0.3) 1px,
      transparent 1px
    ),
    radial-gradient(
      circle at 80% 80%,
      rgba(156, 163, 175, 0.3) 1px,
      transparent 1px
    ),
    radial-gradient(
      circle at 20% 80%,
      rgba(156, 163, 175, 0.3) 1px,
      transparent 1px
    );
  background-size: 200px 200px;
} */

/* .networkBackground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
      45deg,
      rgba(156, 163, 175, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(-45deg, rgba(156, 163, 175, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(156, 163, 175, 0.1) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 200px 200px;
} */

.title {
  color: white;
  margin-bottom: 36px;
}

.highlight {
  color: #f59e0b;
}

.coursesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.courseCard {
  background: #e7e7e7;
  backdrop-filter: blur(63.9px);
  border-radius: 16px;
  padding: 30px 26px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
}

.cardHeader {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}

.ic_number_container {
  width: 80px;
  height: 80px;
  background-color: var(--white);
  align-content: center;
  text-align: center;
  border-radius: 12px;
}

.courseNumber {
  font-size: 56px;
  font-weight: 300;
  line-height: 1;
}

.courseInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.courseLevel {
  font-weight: 900;
  text-transform: uppercase;
}

.rating {
  display: flex;
  gap: 4px;
}

.starFilled {
  color: #f69745;
}

.starEmpty {
  color: #d1d5db;
}

.courseTitle {
  font-weight: 500;
  margin-bottom: 16px;
}

.courseDescription {
  flex-grow: 1;
  margin-bottom: 24px;
}

.exploreButton {
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  align-self: flex-start;
  background-color: #cdcdcd;
}

.exploreButton:hover {
  background-color: var(--primary-color);
  color: white;
  box-shadow: 0 4px 6px rgba(92, 129, 247, 0.2),
    0 8px 20px rgba(92, 129, 247, 0.4);
}

/* Responsive Grid */
@media (max-width: 1399px) {
  .coursesGrid {
    gap: 18px;
  }

  .title {
    margin-bottom: 34px;
  }

  .courseDescription {
    margin-bottom: 22px;
  }

  .courseTitle {
    margin-bottom: 14px;
  }

  .ic_number_container {
    width: 70px;
    height: 70px;
    border-radius: 10px;
  }

  .courseNumber {
    font-size: 44px;
  }

  .cardHeader {
    gap: 14px;
    margin-bottom: 18px;
  }
}

@media (max-width: 1199px) {
  .title {
    color: white;
    margin-bottom: 36px;
  }
  .coursesGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 991px) {
  .coursesGrid {
    gap: 16px;
  }

  .title {
    margin-bottom: 30px;
  }

  .courseDescription {
    margin-bottom: 20px;
  }

  .courseTitle {
    margin-bottom: 12px;
  }

  .ic_number_container {
    width: 65px;
    height: 65px;
    border-radius: 8px;
  }

  .courseNumber {
    font-size: 40px;
  }

  .cardHeader {
    margin-bottom: 16px;
  }

  .courseLevel {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .coursesGrid {
    grid-template-columns: 1fr;
  }
}
