* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
/* variable set up */
:root {
  --white: #ffffff;
  --black: #000000;
  --purple: #441889;
  --primary-color: #5c81f7;
  --gray: #e7e7e7;
}
/* common class */

.ic_primary {
  background-color: var(--primary-color);
}

.ic_color_primary {
  color: var(--primary-color);
}

.ic_purple {
  color: var(--purple);
}

.ic_white {
  color: var(--white);
}

.ic_black {
  color: var(--black);
}

.ic_bg_black {
  background-color: #060606;
}

.ic_bg_white {
  background-color: var(--white);
}

.ic_bg {
  background-color: #e7e7e7;
}

.ic_text_color {
  color: #f69745;
}

/* font weight */
.fw_300 {
  font-weight: 300;
}
.fw_400 {
  font-weight: 400;
}

.fw_500 {
  font-weight: 500;
}

.fw_600 {
  font-weight: 600;
}

.fw_700 {
  font-weight: 700;
}

.fw_900 {
  font-weight: 900;
}

/**Typography**/

.oc {
  opacity: 0.8;
}

.ic_section_margin_top_80 {
  margin-top: 80px;
}

.ic_section_margin_top {
  margin-top: 100px;
}

.ic_section_margin_bottom {
  margin-bottom: 100px;
}

.ic_section_space_58 {
  padding: 58px 0;
}

.ic_section_space_88 {
  padding: 88px 0;
}

.ic_section_space_top_58 {
  padding-top: 58px;
}

.ic_section_space {
  padding: 100px 0;
}

.ic_section_space_footer {
  padding: 100px 0 90px 0;
}

.ic_section_space_top {
  padding-top: 100px;
}

.ic_section_space_bottom {
  padding-bottom: 100px;
}

.ic_section_heading {
  margin-bottom: 50px;
}

.radious_60 {
  border-radius: 60px 60px 0px 0px;
}

.radious_16 {
  border-radius: 16px;
}

/* .mb_4 {
  margin-bottom: 10px;
} */

.mb_16 {
  margin-bottom: 16px;
}
.mb-18 {
  margin-bottom: 18px;
}

/* .mb_17 {
  margin-bottom: 17px;
} */
.mb-35 {
  margin-bottom: 35px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb_20 {
  margin-bottom: 20px;
}

.mt_30 {
  margin-top: 36px;
}

.mt_48 {
  margin-top: 48px;
}

.mb-24 {
  margin-bottom: 24px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-6 {
  margin-bottom: 6px;
}

.py_26 {
  padding: 26px 0px;
}

.w_70 {
  width: 55%;
}

.w_80 {
  width: 58%;
}

.p_16 {
  padding: 56px;
}

.w_100 {
  width: 100%;
}

.pt_50 {
  margin-top: 50px;
}

p,
small,
label,
span,
a,
li,
ul,
ol,
input,
textarea,
button {
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}
ol,
li {
  list-style: none;
}

h1 {
  font-size: 96px;
  line-height: 60px;
  letter-spacing: 1px;
}

h2 {
  font-size: 80px;
  line-height: 75px;
  letter-spacing: 1px;
  font-weight: 300;
}

h3 {
  font-size: 64px;
  line-height: 60px;
  letter-spacing: 1px;
  font-weight: 300;
}

h3 span {
  font-size: 64px;
  line-height: 60px;
  letter-spacing: 1px;
  font-weight: 600;
  color: #f59645;
}

h4 {
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 1px;
  font-weight: 300;
}

h4 span {
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 1px;
  font-weight: 300;
  color: #f59645;
  font-weight: 600;
}

h5 {
  font-size: 24px;
  line-height: 30px;
}

h6 {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.18px;
  font-weight: 900;
  text-transform: uppercase;
}

.ic_text_36 {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.ic_text2_36 {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.ic-btn1 {
  border-radius: 12px;
  height: 48px;
  outline: none;
  border: none;
  padding: 0px 23px;
  background: #5c81f7;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
}
.ic-btn1:hover {
  background-color: var(--primary-color);
  box-shadow: 0px 2px 20px #5c81f7;
  transform: translateY(-2px);
}
.ic-btn1.ic-btn2 {
  background: #272727;
  transition: all 0.3s;
}
.ic-btn1.ic-btn2:hover {
  background: #5c81f7;
  box-shadow: 0px 2px 20px #5c81f7;
}

.ic_alumni_feedback .slick-list {
  padding: 50px 0 !important;
}

.ic_alumni_feedback .slick-track {
  display: flex;
  align-items: center;
  overflow: visible;
}

.ic_alumni_feedback .slick-slide {
  z-index: 1;
  transition: all 0.3s ease;
  position: relative;
}

.ic_alumni_feedback .slick-center {
  transform: scale(1.2);
  z-index: 3 !important;
}
.ic_alumni_feedback .slick-slider {
  overflow: visible;
}

.ic_btn {
  padding: 12px 26px;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s all ease-in;
}

.ic_btn:hover {
  background-color: var(--primary-color);
  box-shadow: 0px 2px 20px #5c81f7;
  /* transform: translateY(-2px); */
}

.ic_see_all_btn {
  background: #272727;
  color: var(--white);
  padding: 8px 20px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  text-transform: uppercase;
}

.ic_common_primary_btn {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 8px 16px;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
}

.ic_icn_btn {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 8px 16px;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.ic_text_end {
  text-align: end;
}

.ic_common_primary_btn:hover {
  background-color: var(--primary-color);
  box-shadow: 0px 2px 8px #5c81f7;
  transform: translateY(-1px);
}

.ic_icn_btn:hover {
  background-color: var(--primary-color);
  box-shadow: 0px 2px 8px #5c81f7;
  transform: translateY(-1px);
}

.ic_center {
  text-align: center;
}

.ic_see_all_btn:hover {
  background: var(--primary-color);
  color: var(--white);
}

.ic_coach_details .slick-list {
  /* padding: 15px 0 !important; */
  padding-bottom: 30px;
}
.ic_certificate .slick-slide {
  padding: 0 16px;
}

.ic_certificate .slick-list {
  margin: 0 -16px;
}

.ic_title {
  margin-bottom: 36px;
}

.ic_title_see_btn_container {
  color: var(--white);
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ic_team_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}

.ic_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.ic_grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

/* dashboard layout css for student ........................ */

.student-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: var(--black);
  overflow: hidden;
}

.content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-radius: 16px 0px 0px 16px;
  background-color: var(--white);
  overflow: hidden;
  margin-left: 280px;
  transition: margin-left 0.3s ease;
}

.content.sidebar-collapsed {
  margin-left: 100px;
}

/* Mobile responsive adjustments */
@media (max-width: 991px) {
  .content,
  .content.sidebar-collapsed {
    margin-left: 0;
  }
}

.main {
  width: 100%;
  padding: 20px;
  overflow-y: auto;
  flex: 1;
  height: calc(100vh - 80px);
  min-height: 0;
  scroll-behavior: smooth;
}

.g-15 {
  gap: 15px;
}

.sidebar-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 150;
}

.ic_content_wrapper {
  display: flex;
  gap: 24px;
  flex: 1;
  /* overflow: hidden; */
  /* color: #353535; */
}

.ic_courses_list {
  max-height: 700px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.ic_layout_border {
  border: 1px solid #e7e7e7;
  padding: 16px;
  border-radius: 8px;
  overflow: hidden;
}

/* table ...........................................  */
.ant-table-pagination-right {
  justify-content: start !important;
}
.ant-table-content td {
  white-space: nowrap;
  border-inline-end: none !important;
}

.ant-table-content th {
  white-space: nowrap;
  border-inline-end: none !important;
}

.ant-table-content {
  font-size: 16px;
}

.ic_action_btn {
  border: 1px solid var(--black);
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

/* editor design modified...........................  */

.ic_text_editor .jodit-container:not(.jodit_inline) {
  border: none !important;
  border-radius: 12px !important;
}

.ic_text_editor .jodit-toolbar__box:not(:empty) {
  background: #f1f1f1 !important;
  padding: 10px 10px 0 10px;
  /* border: none !important; */
  border-radius: 12px 12px 0 0 !important;
  border-bottom: none !important;

  flex-wrap: nowrap !important;
}

.ic_text_editor .jodit-wysiwyg {
  background: #f1f1f1 !important;
  /* border: none !important; */
  padding: 10px 15px !important;
  border-radius: 0 0 12px 12px !important;
}

.ic_text_editor .jodit-toolbar-button {
  background-color: #f8f8fa;
  margin: 6px !important;
  border: 1px solid #dcdada !important;
  /* background-color: #f7f7fa; */
}

.ic_text_editor .jodit-ui-separator {
  border-right: 0px !important;
  margin: 0px !important;
}

.ic_text_editor .jodit-toolbar-collection_mode_horizontal,
.jodit-toolbar-editor-collection_mode_horizontal {
  background-image: none !important;
}

.examsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.ic_text_editor .jodit-toolbar-editor-collection_mode_horizontal {
  display: flex !important;
  flex-wrap: nowrap !important;
  overflow: hidden !important;
}

/* ant design modal ............................................  */
.ant-btn span {
  line-height: 0 !important;
}

.ant-btn {
  background-color: var(--primary-color) !important;
  color: var(--white) !important;
  text-transform: uppercase;
}

.ant-modal-title {
  font-size: 24px !important;
}

/* dashboard header title and back button ......................  */
.ic_title_section {
  display: flex;
  align-items: center;
  gap: 16px;
}

.ic_back_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: var(--primary-color);
  color: var(--white);
  text-decoration: none;
  transition: background-color 0.2s;
  border: none;
}

.ic_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ic_flex2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ic_flex_warp {
  text-wrap: wrap !important;
}

.ic_text_transfrom {
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 8px;
}

.ic_course .ant-tabs-tab {
  font-size: 16px !important;
}

.ic_course .ant-tabs-nav {
  margin: 0px !important;
}

.ic_course .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--primary-color);
  text-shadow: 0 0 0.25px currentcolor;
}

.ic_img {
  height: auto;
  width: 100%;
}

/* Responsive Design */

@media (max-width: 1650px) {
  h2 {
    font-size: 70px;
    line-height: 70px;
  }

  .ic_text2_36 {
    font-size: 28px;
  }

  .examsGrid {
    gap: 20px;
  }
}

@media (max-width: 1399px) {
  h2 {
    font-size: 66px;
    line-height: 62px;
  }

  h3 {
    font-size: 60px;
    line-height: 56px;
  }

  h3 span {
    font-size: 60px;
    line-height: 56px;
  }

  h4 {
    font-size: 44px;
    line-height: 56px;
  }

  h4 span {
    font-size: 44px;
    line-height: 56px;
  }

  .ic_text_36 {
    font-size: 32px;
  }

  .ic_text2_36 {
    font-size: 26px;
  }

  .ic_section_space_58 {
    padding: 54px 0;
  }

  .ic_section_space_88 {
    padding: 84px 0;
  }

  .ic_section_space_top_58 {
    padding-top: 54px;
  }
  .ic_section_heading {
    margin-bottom: 45px;
  }

  .radious_60 {
    border-radius: 30px 30px 0px 0px;
  }

  .ic_section_margin_top {
    margin-top: 90px;
  }

  .ic_section_margin_bottom {
    margin-bottom: 90px;
  }

  .ic_section_space_bottom {
    padding-bottom: 90px;
  }

  .ic_section_space_top {
    padding-top: 90px;
  }

  .ic_section_space {
    padding: 90px 0;
  }

  .ic_section_space_footer {
    padding: 90px 0 80px 0;
  }

  .mb-35 {
    margin-bottom: 32px;
  }

  .mt_30 {
    margin-top: 28px;
  }
  .mb-24 {
    margin-bottom: 22px;
  }

  .mb_20 {
    margin-bottom: 18px;
  }
  .mb-18 {
    margin-bottom: 17px;
  }

  .mb-12 {
    margin-bottom: 10px;
  }
  .mb_16 {
    margin-bottom: 14px;
  }
  .py_26 {
    padding: 24px 0px;
  }

  .radious_16 {
    border-radius: 10px;
  }
  .ic_alumni_feedback .slick-prev {
    left: -10px;
    z-index: 10;
  }
  .ic_alumni_feedback .slick-next {
    right: -10px;
    z-index: 10;
  }

  .ic_title_see_btn_container {
    margin-bottom: 34px;
  }

  .ic_btn {
    padding: 10px 22px;
    font-size: 14px;
    border-radius: 10px;
  }

  .ic_action_btn {
    height: 35px;
    width: 35px;
    font-size: 18px;
  }

  .ic_title_section {
    gap: 14px;
  }

  .ic_back_button {
    width: 30px;
    height: 30px;
  }

  .ic_grid2 {
    gap: 16px;
  }
}

@media (max-width: 1299px) {
  h3 {
    font-size: 56px;
    line-height: 54px;
  }

  h3 span {
    font-size: 58px;
    line-height: 54px;
  }

  h4 {
    font-size: 42px;
    line-height: 54px;
  }

  h4 span {
    font-size: 42px;
    line-height: 54px;
  }

  .ic_text_36 {
    font-size: 30px;
  }

  .ic_text2_36 {
    font-size: 24px;
  }

  .ic_section_space_58 {
    padding: 50px 0;
  }

  .ic_section_space_88 {
    padding: 80px 0;
  }

  .ic_section_space_top_58 {
    padding-top: 50px;
  }

  .ic_section_margin_top {
    margin-top: 80px;
  }

  .ic_section_margin_bottom {
    margin-bottom: 80px;
  }

  .ic_section_space_bottom {
    padding-bottom: 80px;
  }

  .ic_section_space_top {
    padding-top: 80px;
  }

  .ic_section_space {
    padding: 80px 0;
  }

  .ic_section_space_footer {
    padding: 80px 0 70px 0;
  }

  .mb-35 {
    margin-bottom: 28px;
  }

  .mt_30 {
    margin-top: 26px;
  }
  .mb-24 {
    margin-bottom: 20px;
  }
  .mb-18 {
    margin-bottom: 16px;
  }

  .mb-12 {
    margin-bottom: 8px;
  }

  .mb_16 {
    margin-bottom: 12px;
  }

  .py_26 {
    padding: 22px 0px;
  }

  .mb_20 {
    margin-bottom: 16px;
  }

  .ic_courses_list {
    gap: 20px;
  }

  .ic_common_primary_btn {
    font-size: 14px;
    padding: 8px 16px;
  }

  .ic_icn_btn {
    font-size: 14px;
    padding: 8px 16px;
  }

  .ic_action_btn {
    height: 30px;
    width: 30px;
    font-size: 16px;
  }

  .examsGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .ic_back_button {
    width: 28px;
    height: 28px;
  }
}

@media (max-width: 1199px) {
  h2 {
    font-size: 64px;
    line-height: 68px;
  }

  h3 {
    font-size: 48px;
    line-height: 50px;
  }

  h3 span {
    font-size: 48px;
    line-height: 50px;
  }

  h4 {
    font-size: 36px;
    line-height: 42px;
  }

  h4 span {
    font-size: 36px;
    line-height: 42px;
  }

  h6 {
    font-size: 18px;
    /* line-height: 23px; */
  }

  h5 {
    font-size: 22px;
    line-height: 28px;
  }

  .ic_text_36 {
    font-size: 28px;
    line-height: 28px;
  }

  .ic_text2_36 {
    font-size: 22px;
  }

  .ic_section_space_58 {
    padding: 45px 0;
  }

  .ic_section_space_88 {
    padding: 60px 0;
  }

  .ic_section_space_top_58 {
    padding-top: 45px;
  }
  .ic_section_heading {
    margin-bottom: 40px;
  }
  .mb-35 {
    margin-bottom: 26px;
  }

  .mt_30 {
    margin-top: 24px;
  }
  .mb-24 {
    margin-bottom: 18px;
  }
  .mb-18 {
    margin-bottom: 15px;
  }

  .mb_16 {
    margin-bottom: 10px;
  }

  .mb-12 {
    margin-bottom: 6px;
  }

  .py_26 {
    padding: 20px 0px;
  }

  .mb_20 {
    margin-bottom: 14px;
  }

  .mb-45 {
    margin-bottom: 40px;
  }

  .ic-btn1 {
    height: 45px;
    padding: 0 20px;
    font-size: 15px;
    line-height: normal;
  }

  .ic_btn {
    padding: 9px 22px;
    font-size: 13px;
    border-radius: 10px;
  }

  .ic_coach_details .slick-list {
    padding-bottom: 20px;
  }

  .ic_title {
    margin-bottom: 30px;
  }

  .ic_title_section {
    gap: 10px;
  }

  .ic_grid2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 991px) {
  h2 {
    font-size: 52px;
    line-height: 58px;
  }

  h3 {
    font-size: 44px;
    line-height: 50px;
  }

  h3 span {
    font-size: 44px;
    line-height: 50px;
  }

  h4 {
    font-size: 30px;
    line-height: 40px;
  }

  h4 span {
    font-size: 30px;
    line-height: 40px;
  }

  h5 {
    font-size: 20px;
    line-height: 26px;
  }

  h6 {
    font-size: 16px;
  }

  .ic_section_space_58 {
    padding: 40px 0;
  }

  .ic_section_space_88 {
    padding: 50px 0;
  }

  .ic_section_space_top_58 {
    padding-top: 40px;
  }

  .ic_section_margin_top {
    margin-top: 70px;
  }

  .ic_section_margin_bottom {
    margin-bottom: 70px;
  }

  .ic_section_space_bottom {
    padding-bottom: 70px;
  }

  .ic_section_space_top {
    padding-top: 70px;
  }

  .ic_section_space {
    padding: 70px 0;
  }

  .ic_section_space_footer {
    padding: 70px 0 60px 0;
  }

  .ic_section_heading {
    margin-bottom: 35px;
  }
  .mb-35 {
    margin-bottom: 24px;
  }

  .mt_30 {
    margin-top: 22px;
  }

  .mt_48 {
    margin-top: 35px;
  }

  .mb-24 {
    margin-bottom: 16px;
  }

  .mb_16 {
    margin-bottom: 8px;
  }
  .mb-18 {
    margin-bottom: 14px;
  }

  .py_26 {
    padding: 18px 0px;
  }

  .w_70 {
    width: 65%;
  }

  .mb_20 {
    margin-bottom: 12px;
  }

  .w_80 {
    width: 70%;
  }

  .mb-12 {
    margin-bottom: 4px;
  }

  .ic-btn1 {
    height: 40px;
    font-size: 14px;
  }

  .mb-45 {
    margin-bottom: 35px;
  }
  .ic_coach_details .slick-list {
    /* padding: 5px 0 !important; */
    padding-bottom: 16px;
  }

  .ic_team_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .ic_title {
    margin-bottom: 26px;
  }

  .ic_grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
  }

  .ic_content_wrapper {
    flex-direction: column;
    gap: 16px;
  }

  .ic_courses_list {
    height: 100%;
    gap: 16px;
  }

  .ant-table-content {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: 40px;
    line-height: 46px;
  }

  h3 {
    font-size: 38px;
    line-height: 38px;
  }

  h3 span {
    font-size: 40px;
    line-height: 40px;
  }

  .w_70 {
    width: 80%;
  }
  .mb-35 {
    margin-bottom: 22px;
  }

  .mb_20 {
    margin-bottom: 10px;
  }

  .w_80 {
    width: 88%;
  }

  .ic_text_36 {
    font-size: 26px;
    line-height: 26px;
  }

  .ic_section_space_88 {
    padding: 40px 0;
  }
  .ic_section_heading {
    margin-bottom: 30px;
  }

  h5 {
    font-size: 18px;
    line-height: 26px;
  }

  .ic_btn {
    padding: 7px 16px;
    font-size: 12px;
    border-radius: 7px;
  }

  .ic_see_all_btn {
    font-size: 14px;
    padding: 6px 16px;
    align-self: flex-end;
  }

  .ic_title {
    margin-bottom: 24px;
  }

  .ic_grid {
    grid-template-columns: 1fr;
    gap: 14px;
  }

  .content {
    border-radius: 0px 0px 0px 0px;
  }

  .examsGrid {
    grid-template-columns: repeat(1, 1fr);
  }

  .ic_back_button {
    width: 26px;
    height: 26px;
  }

  .ant-modal-title {
    font-size: 22px !important;
  }
}

@media (max-width: 575px) {
  h3 {
    font-size: 34px;
  }

  h3 span {
    font-size: 34px;
  }

  h4 {
    font-size: 28px;
    line-height: 38px;
  }

  h4 span {
    font-size: 28px;
    line-height: 38px;
  }

  .radious_60 {
    border-radius: 25px 25px 0px 0px;
  }

  .ic_section_margin_top {
    margin-top: 60px;
  }

  .ic_section_margin_bottom {
    margin-bottom: 60px;
  }

  .ic_section_space_bottom {
    padding-bottom: 60px;
  }

  .ic_section_space_top {
    padding-top: 60px;
  }

  .ic_section_margin_top_80 {
    margin-top: 70px;
  }

  .ic_section_space {
    padding: 60px 0;
  }

  .ic_section_space_footer {
    padding: 60px 0 50px 0;
  }

  .ic_section_heading {
    margin-bottom: 25px;
  }

  .mb-35 {
    margin-bottom: 20px;
  }

  .mt_30 {
    margin-top: 20px;
  }

  .mb-18 {
    margin-bottom: 13px;
  }

  .mb_16 {
    margin-bottom: 6px;
  }

  .py_26 {
    padding: 16px 0px;
  }

  .w_70 {
    width: 85%;
  }

  .ic_section_space_top_58 {
    padding-top: 90px;
  }

  .mb_20 {
    margin-bottom: 8px;
  }

  .w_80 {
    width: 99%;
  }

  .mb-45 {
    margin-bottom: 30px;
  }

  .ic_title_see_btn_container {
    flex-direction: column;
    justify-content: center;
    gap: 18px;
  }

  .ic_team_grid {
    grid-template-columns: 1fr;
  }

  .ic_text_36 {
    line-height: 32px;
  }

  .ic_common_primary_btn {
    font-size: 12px;
    padding: 6px 14px;
  }

  .ic_icn_btn {
    font-size: 12px;
    padding: 6px 14px;
  }

  .ant-table-content {
    font-size: 14px;
  }

  .ic_flex2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
  }

  .ic_grid2 {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 36px;
    line-height: 40px;
  }

  h3 {
    font-size: 30px;
    line-height: 30px;
  }

  h3 span {
    font-size: 30px;
    line-height: 30px;
  }

  .ic_text_36 {
    font-size: 24px;
  }

  .mt_30 {
    margin-top: 18px;
  }
  .mb_20 {
    margin-bottom: 6px;
  }
  .mb-24 {
    margin-bottom: 14px;
  }
  .mb-18 {
    margin-bottom: 12px;
  }

  .mb_16 {
    margin-bottom: 4px;
  }

  .py_26 {
    padding: 14px 0px;
  }

  .w_70 {
    width: 100%;
  }

  .ic_section_space_top_58 {
    padding-top: 5px;
  }

  .ic_section_heading {
    margin-bottom: 20px;
  }

  .w_80 {
    width: 100%;
  }

  .main {
    padding: 10px;
  }

  .ic_back_button {
    width: 25px;
    height: 25px;
  }
}

/* Remove the bottom border under all tabs */
.antdTabs .ant-tabs-nav {
  border-bottom: none !important;
  margin-bottom: 0 !important;
}

/* Remove the blue line under active tab */
.antdTabs .ant-tabs-ink-bar {
  display: none !important;
}

/* Optional: remove borders or effects on tab hover */
.antdTabs .ant-tabs-tab {
  border: none !important;
  background: transparent;
  padding: 8px 16px;
  font-weight: 500;
}

/* Optional: remove outline on focus */
.antdTabs .ant-tabs-tab:focus {
  outline: none;
  box-shadow: none;
}

.antdTabs .ant-tabs-tab {
  padding: 9px 18px !important;
  background: #1e1e1e !important;
  color: var(--white) !important;
  border-radius: 5px 5px 0px 0px !important;
}

.antdTabs .ant-tabs-tab.ant-tabs-tab-active {
  color: var(--black) !important;
  border-radius: 16px 16px 5px 0px !important;
  background-color: var(--gray) !important;
}

.antdTabs .ant-tabs-tab + .ant-tabs-tab {
  margin-left: 14px !important;
}

.antdTabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--black) !important;
}

/* company swipper js  */
.swiper-wrapper {
  align-items: center;
}

/* .............................  */
.border {
  border: 1px solid white;
}
