.formRow {
  display: flex;
  align-items: center;
  gap: 16px;
  align-items: center;
}

.label {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.3;
  text-wrap: nowrap;
}

.input {
  width: 100%;
  height: 46px;
  padding: 0 16px;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  background: #f3f4f6;
  transition: border-color 0.2s, background-color 0.2s;
}

.input:focus {
  outline: none;
  border-color: var(--primary-color);
  background: var(--white);
}

@media (max-width: 1399px) {
  .label {
    font-size: 16px;
  }

  .input {
    height: 40px;
    font-size: 15px;
    padding: 0 12px;
  }
}
