.ic_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 90px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px 80px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 20px 0px;
}

.icon {
  object-fit: contain;
}

.cardLabel {
  margin-top: 15px;
  color: #fff;
  text-align: center;
}

.contentRight {
  color: #fff;
  z-index: 2;
}

.title {
  margin: 24px 0;
}

.button {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 12px 26px;
  border-radius: 12px;
  border: none;
  text-transform: uppercase;

  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
  background-color: #4338ca;
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(79, 70, 229, 0.4);
}

/* Responsive adjustments */
@media (max-width: 1399px) {
  .gridContainer {
    gap: 20px 45px;
  }
}

@media (max-width: 1299px) {
  .gridContainer {
    gap: 10px 30px;
  }

  .cardLabel {
    margin-top: 10px;
  }
}

@media (max-width: 1199px) {
  .gridContainer {
    gap: 10px 30px;
  }

  .cardLabel {
    margin-top: 10px;
  }

  .ic_grid {
    gap: 60px;
  }
}

@media (max-width: 1024px) {
  .icon {
    width: 80px;
  }

  .button {
    padding: 0.7rem 1.5rem;
    font-size: 0.9rem;
  }

  .iconWrapper {
    height: 100px;
    padding: 18px 0px;
  }
}

@media (max-width: 991px) {
  .icon {
    width: 55px;
  }

  .iconWrapper {
    height: 80px;
    padding: 14px 0px;
  }

  .ic_grid {
    gap: 40px;
  }

  .gridContainer {
    gap: 5px 20px;
  }

  .cardLabel {
    margin-top: 5px;
  }
}

@media (max-width: 768px) {
  .ic_grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 480px) {
  .icon {
    width: 50px;
  }

  .iconWrapper {
    height: 70px;
    padding: 10px 0px;
  }

  .ic_grid {
    gap: 30px;
  }
}
