.ic_service_item {
  border-radius: 16px;
  overflow: hidden;
}
.ic_alumni_card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.ic_alumni_img {
  border-radius: 16px;
  height: 265px;
  display: flex;
  justify-content: center;
  align-items: end;
  overflow: hidden;
}
.ic_alumni_img:hover img {
  transform: scale(1.1);
}
.ic_alumni_img img {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all linear 0.3s;
}
@media (max-width: 1199.98px) {
  .ic_alumni_img {
    height: 220px;
  }
  .ic_alumni_img img {
    height: 210px;
  }
}
