/* .ic_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  position: relative;
  flex-wrap: wrap;
  z-index: 10;
  font-weight: 500;
} */

.ic_header_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--white);
  border-bottom: 1px solid #eee;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.ic_header {
  /* padding: 24px 0px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 500;
}

.ic_logo {
  display: flex;
  align-items: center;
}

/* Nav styles */
.nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.menu li {
  padding: 36px 0;
}

.menu li a {
  text-decoration: none;
  color: var(--black);
  text-transform: uppercase;
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdownBtn {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  color: #333;
  text-transform: uppercase;
}

.arrow {
  transition: transform 0.3s ease;
  font-size: 0.8rem;
}

.rotate {
  transform: rotate(180deg);
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--white);
  list-style: none;
  padding: 8px 0;
  margin: 0;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08); */
  /* border-radius: 4px; */
  border-radius: 0 0 4px 4px;
  z-index: 20;
  width: 250px;
  opacity: 0;
  transform: translateY(-6px);
  visibility: hidden;
  transition: all 0.3s ease;
  max-height: 0;
  display: flex;
  flex-direction: column;
}

.submenu li {
  padding: 8px 16px;
}

.submenu li a {
  text-decoration: none;
  color: var(--black);
  display: block;
}

/* Actions */
.actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.ic_individual {
  display: flex;
  align-items: center;
  gap: 8px;
}

.type {
  text-decoration: none;
  color: var(--black);
  display: block;
}

/* .pipe {
  font-weight: bold;
} */

.icon {
  font-size: 20px;
  cursor: pointer;
}

.loginBtn {
  padding: 10px 27px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 500;
}

.mobileToggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
}

.ic_organisation_show {
  display: none;
}

/* Mobile Nav - Hidden by Default */

@media (max-width: 1199px) {
  .ic_logo img {
    width: 180px;
    height: 40px;
  }

  .dropdownBtn {
    font-size: 15px;
  }

  .menu li a {
    font-size: 15px;
  }

  .type {
    font-size: 15px;
  }

  .pipe {
    font-size: 15px;
  }

  .loginBtn {
    font-size: 15px;
  }

  .menu {
    gap: 20px;
  }
}

@media (max-width: 999px) {
  .nav {
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 77px;
    left: 0;
    background: white;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateY(-5px);
    visibility: hidden;
    transition: all 0.5s ease;
  }

  .nav.open {
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }

  .menu {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    padding: 20px 24px;
  }

  .submenu {
    position: relative;
    background: #ffffff;
    box-shadow: none;
    width: 100%;
    margin-top: 8px;
    opacity: 1;
    transform: none;
    visibility: visible;
    max-height: none;
    padding: 2px 0;
  }

  .submenu li a {
    padding: 3px 0;
    padding-left: 20px;
  }

  .actions {
    gap: 16px;
  }

  .mobileToggle {
    display: block;
  }

  .ic_organisation_show {
    display: block;
  }

  .ic_individual {
    display: none;
  }

  .ic_logo img {
    width: 150px;
    height: 35px;
  }

  .loginBtn {
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 8px;
  }

  .menu li {
    padding: 0px 0px;
  }

  .ic_header {
    padding: 18px 0px;
  }
}

@media (max-width: 575px) {
  .ic_logo img {
    width: 130px;
    height: 30px;
  }

  .actions {
    gap: 10px;
  }

  .loginBtn {
    padding: 4px 15px;
    border-radius: 8px;
  }

  .menu {
    gap: 8px;
  }

  .nav {
    top: 69px;
  }
}

@media (max-width: 480px) {
  .menu {
    gap: 6px;
  }
}
/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown:hover .submenu {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  max-height: 200px;
}

.dropdown:hover .arrow {
  transform: rotate(180deg);
}
