.ic_founder_container {
  display: grid;
  grid-template-columns: 28% 70%;
  gap: 40px;
  align-items: center;
  color: var(--white);
}

.leftColumn {
  display: flex;
  justify-content: center;
}

.ic_founderImage {
  border-radius: 12px;
  object-fit: cover;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 50px;
}

.subtitle {
  font-size: 16px;
  line-height: 1.6;
}

.ic_socialIcons {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.icon {
  font-size: 28px;
  color: var(--white);
  transition: color 0.3s ease;
}

.icon:hover {
  color: var(--white);
}

@media (max-width: 1199px) {
  .ic_founder_container {
    grid-template-columns: 40% 60%;
    gap: 20px;
  }

  .ic_founderImage {
    width: 500px;
  }

  .rightColumn {
    gap: 16px;
    padding-right: 40px;
  }
}

@media (max-width: 991px) {
  .ic_founder_container {
    grid-template-columns: 50% 50%;
    gap: 20px;
  }

  .ic_founderImage {
    width: 380px;
  }

  .subtitle {
    font-size: 14px;
    line-height: 1.5;
  }

  .rightColumn {
    gap: 8px;
    padding-right: 20px;
  }
}

@media (max-width: 768px) {
  .ic_founder_container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 30px;
  }

  .ic_founderImage {
    width: 450px;
    height: auto;
  }

  .rightColumn {
    gap: 4px;
    padding-right: 15px;
    padding-bottom: 30px;
  }

  .leftColumn {
    /* margin-bottom: 20px; */
  }

  .rightColumn {
    align-items: center;
  }
}

@media (max-width: 575px) {
  .ic_founder_container {
    gap: 20px 0;
  }

  .ic_founderImage {
    width: 400px;
    height: auto;
  }

  .rightColumn {
    gap: 4px;
    padding: 0 15px 30px 15px;
    /* padding-bottom: 30px; */
  }
}

@media (max-width: 480px) {
  .ic_founderImage {
    width: 350px;
    height: auto;
  }

  .rightColumn {
    gap: 3px;
    padding: 0 10px 25px 10px;
  }
}
