.ic_certificate {
  color: var(--white);
}
.ic_top_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ic_slider_main_img {
  width: 100%;
  height: 320px;
}
.ic_slider_main_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 16px;
}

.ic_dot_main {
  width: 200px;
  margin: 0 auto;
  border: 1.5px solid var(--white);
  padding: 0 5px;
  border-radius: 30px;
}

.dotTrack {
  position: relative;
  width: 100%;
  height: 12px;
  background: transparent;
  margin: 0 auto;
  overflow: hidden;
}

.dot {
  position: absolute;
  height: 4px;
  background-color: #806ab7;
  border-radius: 30px;
  top: 50%;
  transform: translateY(-50%);
  transition: left 0.3s ease;
}

@media (max-width: 1399.98px) {
  .ic_slider_main_img {
    height: 300px;
  }
}
@media (max-width: 1199.98px) {
  .ic_slider_main_img {
    height: 280px;
  }
}
@media (max-width: 991.98px) {
  .ic_slider_main_img {
    height: 250px;
  }
}
