.ic_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  padding: 40px 0;
}

.ic_image_container {
  position: relative;
  width: 90%;
  height: 400px;
  padding-bottom: 70px;
  height: 100%;
  border-radius: 16px;
  margin-bottom: 24px;
  z-index: 1;
  background: radial-gradient(
    circle at center,
    #4c5f9f 0%,
    #262c40 50%,
    #1d1e1f 100%
  );
}

.ic_member_image {
  width: 100%;
  height: auto;
  object-fit: contain;
  position: absolute;
  bottom: 0;
  left: 50%;
  left: 0;
  z-index: 2;
}

.ic_title {
  margin: 24px 0px;
}

.ic_wrapper {
  margin-top: 60px;
}

.ic_img_wrapper {
  display: flex;
  align-items: end;
  justify-content: center;
}

.ic_text_wrapper {
  margin-bottom: 60px;
}

@media (max-width: 1399px) {
  .ic_title {
    margin: 20px 0px;
  }

  .ic_grid {
    gap: 50px;
    padding: 30px 0;
  }

  .ic_image_container {
    width: 100%;
  }
}

@media (max-width: 1199px) {
  .ic_title {
    margin: 16px 0px;
  }

  .ic_grid {
    gap: 30px;
    padding: 30px 0;
  }

  .ic_image_container {
    height: 250px;
    /* width: 200px; */
  }
  /* 
  .ic_member_image {
    width: 400px;
  } */
}

@media (max-width: 991px) {
  .ic_title {
    margin: 6px 0px;
  }

  .ic_image_container {
    height: 200px;
  }

  .ic_grid {
    gap: 20px;
    padding: 20px 0;
  }

  .ic_wrapper {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .ic_grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 80px;
    padding: 20px 0;
  }

  .ic_wrapper {
    margin-top: 0px;
  }

  .ic_image_container {
    height: 200px;
  }
  .ic_image_container {
    width: 500px;
  }

  .ic_img_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ic_text_wrapper {
    text-align: center;
  }
}

@media (max-width: 575px) {
  .ic_image_container {
    width: 400px;
  }

  .ic_image_container {
    height: 150px;
  }

  .ic_grid {
    gap: 60px;
  }
}

@media (max-width: 480px) {
  .ic_image_container {
    width: 280px;
  }

  .ic_grid {
    gap: 50px;
  }

  .ic_image_container {
    height: 100px;
  }
}
