.ic_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: var(--white);
}

.contentLeft {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.statsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.statItem {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.statNumber {
  font-weight: 700;
}

.statDescription {
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.studentsImage {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* Responsive Design */

@media (max-width: 1399px) {
  .statsGrid {
    gap: 26px;
  }

  .contentLeft {
    gap: 35px;
  }
}

@media (max-width: 1024px) {
  .ic_grid {
    grid-template-columns: 1fr;
    gap: 30px;
    text-align: center;
  }

  .contentLeft {
    gap: 30px;
  }

  .statsGrid {
    width: 60%;
    margin: 0 auto;
    justify-items: center;
  }

  .statItem {
    align-items: center;
  }

  .imageContainer {
    order: -1;
  }
}

@media (max-width: 768px) {
  .statDescription {
    font-size: 16px;
  }

  .statsGrid {
    width: 80%;
  }

  .ic_grid {
    gap: 26px;
  }

  .contentLeft {
    gap: 26px;
  }
}

@media (max-width: 480px) {
  .statDescription {
    font-size: 15px;
  }

  .statsGrid {
    width: 100%;
  }

  .ic_grid {
    gap: 20px;
  }

  .contentLeft {
    gap: 20px;
  }
}
