.ic_scholarship_sponsor_main {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.ic_left {
  padding: 60px 35px 0 35px;
}

.ic_scholarship_sponsor_main::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85%;
  border-radius: 16px;
  background: #e7e7e7;
  content: "";
  z-index: -3;
}
.ic_right {
  display: flex;
  justify-content: center;
  align-items: end;
}

.ic_bg_img {
  position: absolute;
  top: 0;
  right: 70px;
  z-index: -1;
  animation: rotateImg 30s linear infinite;
  transform-origin: center;
}

@keyframes rotateImg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ic_bg_img2 {
  position: absolute;
  top: 0;
  right: 20px;
  z-index: -2;
  animation: floatImage 10s ease-in-out infinite alternate;
  transform-origin: center;
  object-fit: contain;
  height: auto;
}
@keyframes floatImage {
  0% {
    transform: scale(1) translateX(0);
  }
  50% {
    transform: scale(1.05) translateX(-20px);
  }
  100% {
    transform: scale(1.1) translateX(20px);
  }
}

@media (max-width: 1399px) {
  .ic_main_img {
    width: 500px;
    height: auto;
  }

  .ic_bg_img {
    width: 290px;
    height: auto;
    right: 120px;
    top: 40px;
  }

  .ic_left {
    padding: 60px 35px 15px 35px;
  }

  .ic_bg_img2 {
    right: 5%;
    width: 600px;
    height: auto;
  }
}

@media (max-width: 1299px) {
  .ic_main_img {
    width: 460px;
    height: auto;
  }
}

@media (max-width: 1199px) {
  .ic_bg_img {
    width: 300px;
    height: auto;
    right: 120px;
    top: 60px;
  }
}
@media (max-width: 991px) {
  /* .ic_bg_img {
    top: 40%;
    left: 27%;
  } */

  .ic_bg_img {
    width: 250px;
    height: auto;
    left: 22%;
    top: 50%;
  }
  /* .ic_bg_img2 {
    right: 0;
    top: 35%;
  } */

  .ic_bg_img2 {
    top: 48%;
    left: 10%;
    width: 500px;
    height: auto;
  }
  .ic_right {
    margin-left: 60px;
  }
  .ic_scholarship_sponsor_main:after {
    width: 100%;
    height: 100%;
  }

  .ic_left {
    padding: 20px 35px 15px 35px;
  }
}
@media (max-width: 767px) {
  .ic_right {
    margin-left: 0;
    margin-top: 15px;
  }
  .ic_left {
    padding: 40px 35px 0;
  }

  .ic_bg_img2 {
    top: 52%;
    left: 10%;
    /* width: 350px; */
    height: auto;
    overflow: hidden;
  }
}

@media (max-width: 575px) {
  .ic_left {
    padding: 30px 30px 0;
  }
  .ic_right {
    height: 300px;
  }
  .ic_right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .ic_bg_img {
    /* left: 0%; */
    width: 200px;
    top: 60%;
  }

  .ic_bg_img2 {
    top: 52%;
    left: 20%;
    /* width: 200px; */
    height: auto;
    overflow: hidden;
  }
}
