.ic_download_report {
  overflow: hidden;
}
.ic_download_report_main {
  position: relative;
}

.ic_download_report_main img {
  position: relative;
  z-index: 2;
  display: block;
}

.ic_download_inf_details {
  padding: 27px 30px 27px 270px;
  border-radius: 16px;
  width: 813px;
  position: absolute;
  background: #e7e7e7;
  top: 0;
  right: 0;
  z-index: 1;
  padding-left: 270px;
}

@media (max-width: 1399.98px) {
  .ic_download_inf_details {
    width: 70%;
  }
  .ic_download_inf {
    width: 720px;
  }
  .ic_download_report_main img {
    width: 50%;
    height: auto;
  }
}

@media (max-width: 991.98px) {
  .ic_download_inf_details {
    width: 100%;
  }
  .ic_download_report_main img {
    width: 100%;
  }
  .ic_download_inf_details {
    position: static;
    padding: 20px;
    margin-top: 15px;
  }
}
/* @media (max-width: 767.98px) {
  .ic_download_report_main img {
    width: 100%;
  }
  .ic_download_inf_details {
    position: static;
    padding: 20px;
    margin-top: 15px;
  }
} */
@media (max-width: 575.98px) {
  .ic_download_report_main {
    padding: 50px 0;
  }
  .ic_download_inf_details {
    left: 15px;
  }
  .ic_download_inf_details {
    margin-top: 10px;
  }
}
