.ic_content_section {
  flex: 1;
}

.ic_content_header {
  display: flex;
  justify-content: flex-end;
}

.ic_duration_info {
  margin-top: 16px;
}

.ic_total_duration {
  font-weight: 500;
}

.ic_modules_list {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.ic_module_item {
  border-radius: 8px;
  overflow: hidden;
}

.ic_module_item:last-child {
  border-bottom: 1px solid #e5e7eb;
}

.ic_module_content {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.ic_play_button {
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.ic_play_button:hover {
  background-color: #f3f4f6;
  border-color: #9ca3af;
}

.ic_play_icon {
  color: #1f2029;
  font-size: 20px;
}

.ic_module_title {
  font-size: 16px;
}

.ic_module_duration {
  font-size: 13px;
  /* color: #6b7280; */
}

.ic_module_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px 0;
  border-bottom: 1px solid #e5e7eb;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.ic_module_right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ic_arrow_icon {
  font-size: 16px;
  transition: transform 0.3s ease;
  user-select: none;
}

.ic_arrow_rotated {
  transform: rotate(180deg);
}

.ic_videos_container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.ic_videos_expanded {
  max-height: 350px;
  overflow-y: auto;
  padding-bottom: 16px;
}

.ic_videos_list {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
}

.ic_video_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0px 12px 28px;
  border-bottom: 1px solid #f1f5f9;
  cursor: pointer;
  color: var(--black);
}

.ic_video_item:hover {
  color: var(--black);
}

.ic_video_item:last-child {
  border-bottom: none;
}

.ic_video_content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.ic_video_duration {
  font-size: 13px;
}

.ic_btn {
  font-size: 15px;
  background-color: var(--primary-color);
  border: none;
  color: var(--white);
  padding: 4px 12px;
  border-radius: 8px;
  margin-left: 28px;
  transition: 0.3s all ease-in-out;
}

.ic_btn:hover {
  background-color: var(--primary-color);
  color: var(--white);
  box-shadow: 0px 2px 8px #5c81f7;
  transform: translateY(-1px);
}

.ic_lesson_container {
  padding-bottom: 8px;
}

@media (max-width: 575px) {
  .ic_module_title {
    font-size: 15px;
  }

  .ic_video_title {
    font-size: 15px;
  }

  .ic_module_header {
    padding: 12px 0;
  }

  .ic_video_item {
    padding: 8px 0px 8px 28px;
  }

  .ic_btn {
    font-size: 13px;
    padding: 2px 12px;
    margin-left: 28px;
  }
}
