.right {
  display: flex;
  flex-direction: column;
  height: 80vh;
  overflow: auto;
}

.sidebarToggleBtn {
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  cursor: pointer;
  display: none;
}

.ic_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}

.sectionTitle {
  font-weight: 500;
  text-transform: capitalize;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* max-height: 320px; */
  overflow: auto;
  /* padding-right: 8px; */
  margin-top: 16px;
}

.ic_notification {
  font-size: 11px;
  height: 22px;
  width: 22px;
  text-align: center;
  align-content: center;
  color: var(--white);
  border-radius: 100%;
  background-color: var(--primary-color);
}

.item {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}
.item:hover {
  background: var(--light);
}
.active {
  background: linear-gradient(90deg, #eef6ff, #f6f9ff);
  box-shadow: 0 6px 18px rgba(75, 124, 255, 0.05);
}

.ava {
  width: 44px;
  height: 44px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.meta {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.name {
  font-weight: 600;
  font-size: 14px;
}
.last {
  font-size: 13px;
  color: var(--muted);
  /* margin-top: 4px; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.time {
  font-size: 12px;
  color: var(--muted);
}

@media (max-width: 1399px) {
  .right {
    display: flex;
    flex-direction: column;
    height: 80vh;
    overflow: auto;
  }
}

@media (max-width: 1199px) {
  .sidebarToggleBtn {
    display: block;
  }

  .sidebarToggleBtn {
    display: block;
  }
}

@media (max-width: 999px) {
  .sidebarToggleBtn {
    height: 26px;
    width: 26px;
    font-size: 12px;
  }

  .ava {
    width: 36px;
    height: 36px;
  }
}
