.bannerContainer {
  position: relative;
  background-color: white;
  border-radius: 0.75rem;
  overflow: hidden;
  padding-bottom: 24px;
}

.bannerBackground {
  width: 100%;
  height: 167px;
  border-radius: 12px;
}

.profileDetails {
  display: flex;
  align-items: flex-end;
  padding-left: 30px;
  margin-top: -88px;
}

.avatarWrapper {
  position: relative;
  margin-right: 14px;
}

.ic_img_wrapper {
  width: 160px;
  height: 155px;
  background-color: #f0f2f5;
  border-radius: 8px;
}

.profileAvatar {
  padding: 10px 10px 0px 10px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.editAvatarButton {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background-color: #7b5ca6;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.userName {
  font-weight: 500;
  margin: 0;
}

.userId {
  margin: 0;
}

@media (max-width: 1299px) {
  .bannerBackground {
    height: 157px;
  }

  .profileDetails {
    margin-top: -80px;
  }

  .ic_img_wrapper {
    width: 140px;
    height: 145px;
  }
}

@media (max-width: 1199px) {
  .userId {
    font-size: 14px;
  }

  .userInfo {
    gap: 4px;
  }
}

@media (max-width: 991px) {
  .bannerBackground {
    height: 127px;
  }

  .profileDetails {
    margin-top: -55px;
    padding-left: 25px;
  }

  .ic_img_wrapper {
    width: 110px;
    height: 115px;
  }

  .editAvatarButton {
    width: 22px;
    height: 22px;
  }
}

@media (max-width: 557px) {
  .userId {
    font-size: 12px;
  }

  .userInfo {
    gap: 0px;
  }
}

@media (max-width: 480px) {
  .bannerBackground {
    height: 125px;
  }

  .profileDetails {
    margin-top: -50px;
    padding-left: 20px;
  }

  .ic_img_wrapper {
    width: 100px;
    height: 105px;
  }
}
