.paymentMethodsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 1rem; */
}

.title {
  text-transform: capitalize;
  color: #353535;
}

.headerLeft {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  gap: 16px;
}

.subtitle {
  font-size: 14px;
  background-color: #c2ddff;
  padding: 2px 12px;
  border-radius: 8px;
}

/* Credit Cards Section */
.creditCardsSection {
  /* margin-bottom: 1rem; */
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.creditCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  border: 2px solid #f7f8f8;
  border-radius: 0.75rem;
  padding: 16px;
  cursor: pointer;
  transition: all 0.2s;
}

.creditCard:hover {
  border-color: var(--primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.cardHeader {
  width: 100%;
  height: 73px;
  border: 1px solid #e9e7e7;
  border-radius: 5px;
  padding: 16px;
  display: flex;
  align-items: center;
}

.ic_img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.cardDetails {
  width: 100%;
}

.cardNumber {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.cardLabel {
  color: #6b7280;
  font-weight: 500;
}

.cardValue {
  font-size: 15px;
  color: #111827;
}

.expiryLabel {
  color: #6b7280;
}

/* Available Payment Methods */
.availableMethodsSection {
  /* margin-top: 2rem; */
}

.sectionTitle {
  font-size: 1.125rem;
  font-weight: 500;
  color: #111827;
  margin: 0 0 1.5rem 0;
}

.methodsList {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  /* gap: 16px; */
}

.ic_payment_img_container {
  width: 140px;
  border: 1px solid #e9e7e7;
  height: 56px;
  padding: 24px;
  display: flex;
  align-items: center;
  /* padding: 17px 25px; */
  border-radius: 12px;
}

.ic_payment_img {
  height: auto;
  object-fit: cover;
}

.paymentMethod {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 16px 0;
}

.paymentMethod:first-child {
  border-top: 1px solid #e9e7e7;
}

.paymentMethod:nth-child(2) {
  border-top: 1px solid #e9e7e7;
  border-bottom: 1px solid #e9e7e7;
}

.paymentMethod:last-child {
  border-bottom: 1px solid #e9e7e7;
}

/* Responsive Design */
@media (max-width: 1399px) {
  .cardHeader {
    height: 60px;
    padding: 10px;
  }

  .creditCard {
    gap: 15px;
    padding: 10px;
  }

  .cardsGrid {
    gap: 12px;
  }
}

@media (max-width: 1299px) {
  /* .cardHeader {
    height: 60px;
    padding: 10px;
  } */

  .ic_img {
    width: 60%;
  }

  .creditCard {
    /* grid-template-columns: repeat(1, 1fr); */
    /* gap: 12px; */
  }

  .cardsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
}

@media (max-width: 991px) {
  .ic_img {
    width: 60%;
  }

  .cardsGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
  }

  .subtitle {
    font-size: 12px;
    padding: 0px 10px;
  }
}

@media (max-width: 575px) {
  .headerLeft {
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .header {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: start;
  }
}
