.card {
  background-color: #1a1a1a;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 0.5fr;
  gap: 20px;
  padding: 20px;

  position: relative;
  overflow: hidden;
  transition: background 0.4s ease-in-out;
}

.card:hover .ic_btn {
  background-color: var(--primary-color);
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../../../assets/images/all/cettification-bg.png");
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  z-index: 0;
}

.card:hover::before {
  opacity: 1;
}

.card > * {
  position: relative;
  z-index: 1;
}

.ic_certificate_image {
  height: 100%;
  border-radius: 16px;
  object-fit: contain;
}

.ic_center {
  height: 100%;
  align-content: center;
  display: flex;
  align-items: center;
}

.ic_content_right {
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  margin-bottom: 24px;
}

.description {
  margin-bottom: 24px;
}

.details {
  color: #e5e7eb;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
}

.ic_btn {
  background-color: #272727;
  color: #fff;
  padding: 12px 26px;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 500;
  align-self: flex-end;
  text-transform: uppercase;
}

.ic_btn_container {
  display: flex;
  justify-content: end;
  padding-right: 30px;
}

/* 🔽 Responsive Styles */
@media (max-width: 1299px) {
  .card {
    gap: 18px;
    padding: 18px;
  }

  .ic_btn_container {
    padding-right: 0px;
  }

  .ic_certificate_image {
    width: 300px;
  }

  .title {
    margin-bottom: 16px;
  }

  .description {
    margin-bottom: 16px;
  }

  .details {
    gap: 14px;
  }

  .ic_btn {
    padding: 10px 22px;
    font-size: 14px;
    border-radius: 8px;
  }
}

@media (max-width: 767px) {
  .card {
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .ic_btn_container {
    justify-content: center;
    padding-right: 0;
    margin-top: 20px;
  }

  .ic_certificate_image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .title {
    margin-bottom: 12px;
  }

  .description {
    margin-bottom: 12px;
  }

  .details {
    gap: 10px;
  }

  .description,
  .details {
    font-size: 14px;
  }

  .ic_btn {
    font-size: 13px;
  }

  .ic_btn_container {
    justify-content: start;
  }
}

@media (max-width: 600px) {
  .card {
    padding: 16px 12px;
  }

  .title {
    font-size: 16px;
  }

  .description,
  .details {
    font-size: 13px;
  }

  .ic_btn {
    font-size: 13px;
    padding: 8px 18px;
  }
}
